html,
body {
    margin: 0;
    padding: 0;
    background: #1F2937;
}

.container {
    margin: 40px auto 0px auto;
    width: 450px;
    height: 200px;
}

.div1 {
    background: #3A69D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    box-shadow: 0px 0px 5px #D1D4F4;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    line-height: 1px;
}

p {
    color: white;
}


/* div 2 code  */

.div2 {
    background: #1F2937;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px #D1D4F4;
    /* height: 100vh; */
    /* padding-bottom:1px;  */
}

.btn_div {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main_btn {
    font-size: 12px;
    background: #D1D4F4;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    align-items: center;
    padding: 9px 13px;
    border: 1px solid #D5D4D8;
    cursor: pointer;
}

.main_items {
    display: flex;
    justify-content: space-between;
    margin: -30px 30px;
    color: #D5D4D8;
    font-size: 20px;
}

.main_items_array {
    display: grid;
    /* grid-template-columns: auto 1fr auto; */
    margin: 0px 30px;
    line-height: 11px;
    width: auto;
    height: auto;
}

h3 {
    font-size: 20px;
    color: white;
}

h5 {
    margin-left: 20px;
    color: #D5D4D8;
    font-size: 8px;
    margin-top: 23px;
    cursor: pointer;
}

span {
    color: #918E9B;
    font-size: 20px;
}

.note_total_div {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.pp {
    color: #D5D4D8;
    font-size: 12px;
}

hr {
    margin: 10px 30px;
    border: 1px solid #C3C6DB;
}

.note_total_div_2 {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

.ta {
    color: white;
    font-size: 36px;
    padding: 0px;
    margin: 0px;
}

.single_btn_div {
    margin: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.reset_btn {
    padding: 9px 17px 9px 15px;
    width: 100%;
    height: 44px;
    background: #3A69D2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    font-size: 16px;
    color: #FFFFFF;
}

.undo {
    margin: 10px 0px 10px 30px;
    cursor: pointer;
}

.new_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remove_btn {
    margin-right: 150px;
    margin-top: 18px;
    background: transparent;
    border: none;
    color: #D5D4D8;
    font-size: 15px;
    font-family: 800;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}